<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Poker Web Application</display-name>

  <listener>
    <listener-class>net.poker.web.listener.ApplicationStartListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>sign_in_servlet</servlet-name>
    <servlet-class>net.poker.web.servlet.SignInServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>sign_up_page</servlet-name>
    <jsp-file>sign_up.jsp</jsp-file>
  </servlet>

  <servlet>
    <servlet-name>register_servlet</servlet-name>
    <servlet-class>net.poker.web.servlet.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>poker_table_page</servlet-name>
    <jsp-file>poker_table.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>sign_in_servlet</servlet-name>
    <url-pattern>/sign_in.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>sign_up_page</servlet-name>
    <url-pattern>/sign_up.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>register_servlet</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>poker_table_page</servlet-name>
    <url-pattern>/poker_table.html</url-pattern>
  </servlet-mapping>
</web-app>
